:root {
	
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
		
}

/*
* {
	outline: 1px solid red;
}
*/

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width:100%;
	width:100%;
	overflow-x: hidden;
	/* //Arabic support test;
	direction: rtl;
	unicode-bidi: bidi-override;*/
}
main {
	min-height: 100vh;
	margin: 0;
	width: 100%;
}

#svelte {
	display: flex;
	flex-direction: column;
}
